.ScoreTable {
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  width: 100%;
  background-color: white;
  /* padding: 3em 1em; */
  height: auto;
}

.ScoreTable table {
  margin: 0 auto;
  min-width: 350px;
  width: auto;
}

.ScoreTable-section {
  vertical-align: top;
  width: 100%;
}

.ScoreTable-section table {
  vertical-align: top;
  width: 100%;
  padding: 2em 2em 2em 2em;
}


.ScoreTable-section-lower {
  vertical-align: top;
  width: 100%;
}

  .ScoreTable-section-lower h2 {
    /* margin-top: 0; */
  }

.Total-score {
  border-bottom: none;
}
